* {
  box-sizing: border-box;
}

body {
  height: 400px;
}

.bg-yellow {
  /* background-color: yellow; */
  width: 50%;
  height: 50vh;
  /* vh ==> viewport height */

  /* border */
  border-width: 5px;
  border-style: solid;
  border-color: magenta;
  /* short-hand */
  border: 6px dashed gray;

  padding: 30px;
  margin: 50px;

  overflow: hidden;
  /* scroll , auto , hidden */
}

.bg-yellow-1 {
  width: 200px;
  height: 200px;
  border: 5px solid black;

  padding: 10px;

  margin: 10px;
}
